<% include header %>
      <div class="container">
        <% if (results.length > 1) { %>
<div class="compare-results">

<div class="compare-results btn-group left">
<% if (results[0] !== null) { %>
  <button type="button" class="btn btn-default dropdown-toggle compare-results first" data-toggle="dropdown" value="<%= results[0][0].imdbID %>"><%= results[0][0].Title %><span class="caret"></span></button>
  <ul class="dropdown-menu first" role="menu">
    <% for(var i = 0; i < results[0].length; i++) { %>
      <li class="compare-results"><a href="#<%= results[0][i].imdbID %>" class="compare-results first"<% if (i == 0) { %> style="display: none;"<% } %>><%= results[0][i].Title %></a></li>
    <% } %>
  </ul>
<% } else { %>
  <div class="btn">No results found</div>
<% } %>
</div>

<div class="compare-results btn-group right">
<% if (results[1] !== null) { %>
  <button type="button" class="btn btn-default dropdown-toggle compare-results second" data-toggle="dropdown" value="<%= results[1][0].imdbID %>"><%= results[1][0].Title %><span class="caret"></span></button>
  <ul class="dropdown-menu second" role="menu">
    <% for(var i = 0; i < results[1].length; i++) { %>
      <li class="compare-results"><a href="#<%= results[1][i].imdbID %>" class="compare-results second"<% if (i == 0) { %> style="display: none;"<% } %>><%= results[1][i].Title %></a></li>
    <% } %>
  </ul>
<% } else { %>
  <div class="btn">No results found</div>
<% } %>
</div>

<div class="clear"></div>
<div id="results-group"></div>
</div>
        <% } %>
        <% include compare-form %> 
      </div>
    </div>
<% include footer %>
